table {
            border-collapse: collapse; /* Ensures borders combine properly */
            border-spacing: 1px;
            padding: 1px;
            width: 100%;
        }
        td {
            border: 1px solid black; /* Add 1px solid black border */
            padding: 1px; /* Add 1px padding */
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }